/*
.idea
!/plugins/
!/.github/
!/.github/**
!/.phpcs/
!/.phpcs/**
!.dev/
!.dev/*
/plugins/*
!/plugins/captcha/
/plugins/captcha/*
!/plugins/captcha/bpcaptcha/
!/plugins/captcha/bpcaptcha/**

!/LICENSE
!/README.md
!/build.xml
!/composer.json
!/composer.lock
!/build.properties.dist
build.properties
!/.gitignore
/configuration.php
!package.json
!package-lock.json
!postcss.config.js
!webpack.config.js
!/test
!/test/*.yml
!/docker-compose.yml
!/docker-compose.test.yml

